@import "tailwindcss";

:root {
  --background: #1d1d1f;
  --foreground: #ededed;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --breakpoint-3xl: 122rem; /* targets any screen size >= 1952px (greater than 1920px so 2k or 4k monitors) */
}

/* Background blob rotation animation */
@keyframes rotateBlob {
  from { 
    rotate: 0deg;
  }

  50% {
    scale: 1 1.5;
  }
  
  to {
    rotate: 360deg;
  }
}

* {
  /* margin: 0; */
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-body);
  scroll-behavior: smooth;
  overflow-x: hidden;
  overflow-y: visible;
}

a, p {
  font-family: var(--font-body);
}

h1, h2 {
  font-family: var(--font-heading); 
}

h3, h4, h5, h6 {
  font-family: var(--font-body); 
}