@import "tailwindcss";

:root {
  --background: #1d1d1f;
  --foreground: #fef5ef;
  --gunmetal: #343646;

  --grape: #4b4e6d;
  --airforce: #6a8d92;
  --perlwinkle: #a374ff;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-gunmetal: var(--gunmetal);

  --color-grape: var(--grape);
  --color-airforce: var(--airforce);
  --color-perlwinkle: var(--perlwinkle);

  --breakpoint-3xl: 122rem; /* targets any screen size >= 1952px (greater than 1920px so 2k or 4k monitors) */
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-body);
  overflow-x: hidden;
  overflow-y: visible;

  scroll-behavior: smooth;
  scroll-snap-type: y mandatory;
}

a, p {
  font-family: var(--font-body);
}

h1, h2 {
  font-family: var(--font-heading); 
}

h3, h4, h5, h6 {
  font-family: var(--font-body); 
}