@import "tailwindcss";

:root {
  --background: #1d1d1f;
  --foreground: #ededed;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);

  --font-body: var(--font-montserrat);
  --font-heading: var(--font-bricolage)
}

/* Background blob rotation animation */
@keyframes rotateBlob {
  from { 
    rotate: 0deg;
  }

  50% {
    scale: 1 1.5;
  }
  
  to {
    rotate: 360deg;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-body), sans-serif;
}

a, p {
  font-family: var(--font-body), sans-serif;
}

h1 {
  font-family: var(--font-heading), sans-serif
}

h2, h3, h4, h5, h6 {
  font-family: var(--font-heading), sans-serif
}


