@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200;0,6..12,300;0,6..12,400;0,6..12,500;0,6..12,600;0,6..12,700;0,6..12,800;0,6..12,900;0,6..12,1000;1,6..12,200;1,6..12,300;1,6..12,400;1,6..12,500;1,6..12,600;1,6..12,700;1,6..12,800;1,6..12,900;1,6..12,1000&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
    --black: #151515;
    --white: #ffffff;
    --blue: #6f78ac;
    --purple: rgb(98, 0, 234);
    --pink: rgb(236, 64, 122);

    --code-background: #272822;
    --code-color: #f8f8f2;

    --background-gradient: linear-gradient(to right, var(--purple), var(--pink), var(--purple));
}

* {
    margin: 0;
    padding: 0;
    overflow: hidden;
}

body {
    width: 100%;
    height: 100vh;
    font-size: 16px;
    overflow: hidden;

    background: var(--background-gradient);
    background-size: 200%;
    animation: background-pan 5s linear infinite;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

h1, h2, h3, h4, h5, h6, p {
    font-family: "Nunito Sans", sans-serif;
    text-align: center;

    color: var(--white);
}

h1 {
    font-size: 3rem;
    font-weight: 400;
}

h2 {
    font-size: 1.75rem;
    font-weight: 400;
}

h3 {
    font-size: 1.5rem;
    font-weight: 400;
}

h4 {
    font-size: 1.25rem;
    font-weight: 400;
}

h5 {
    font-size: 1.1rem;
    font-weight: 400;
}

h6 {
    font-size: 1rem;
    font-weight: 400;
}

p {
    font-size: 1.25rem;
}

strong {
    background-image: var(--text-gradient);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

code {
    font-family: "Source Code Pro", monospace;
    border-radius: 0.3rem;
    padding: 4px 5px 5px;
    white-space: nowrap;

    background-color: var(--code-background);
    color: var(--code-color);
}

.app-container {
    width: 100vw;
    height: 100vh;

    display: grid;
    grid-template-columns: repeat(30, 1fr);
    grid-template-rows: repeat(15, 1fr);
}

.tile {
    position: relative;
}

.tile:before {
    content: "";
    background-color: var(--black);
    position: absolute;
    inset: 0.5px;
}

@keyframes background-pan {
    from {
        background-position: 0% center;
    }

    to {
         background-position: -200% center;
    }
}
